.userDetailWrapper {
  max-width: 100%;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.userDetailWrapper h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}
.userDetail {
  max-width: 100%;
  margin-bottom: 20px;    
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.userDetailImage {
  margin-bottom: 20px;
}
.userDetailImage img {
  max-width: 220px;
  height: auto;
  border-radius: 50%;
}
.userDetailBody h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}
.userDetailBody h3 {
  font-size: 16px;
}
.userDetailBody .userContact h3, .userDetailBody .userLocation h3 {
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}
.userDetailBody .userContact, .userDetailBody .userLocation {
  display: flex;
  flex-direction: column;
  color: #888888;
  margin-bottom: 20px;
}
.userDetailBody .userContact span, .userDetailBody .userLocation span {
  margin-bottom: 4px;
}
.goHomeButton span {
  color: #ffffff;
  padding: 8px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  display: inline-block;
  margin: 0 auto;
  transition: all 0.2s;
}
.goHomeButton span:hover {
  color: #AD00FF;
  border-color: #AD00FF;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .userDetailWrapper {
    max-width: 80%;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .userDetailBody h2 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .userDetailBody h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .userDetailWrapper {
    width: 33%;
    margin-top: 20px;
  }
}