.usersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .usersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .usersContainer {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}