.userDetailWrapper {
  width: 33%;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}