.homeHeader {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ffffff;
}
.homeHeader h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  margin: 0;
  margin-bottom: 16px;
}
.homeLeading {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}
.loaderWrapper {
  text-align: center;
  color: #ffffff;
  padding: 8px;
  margin: 0 auto;
  display: block;
  animation: loading 2s infinite;
}
@media (min-width: 768px) {
  .homeHeader {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .homeHeader {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .homeHeader h1 {
    font-size: 96px;
    margin-bottom: 20px;
  }
  .homeLeading {
    font-size: 32px;
  }
}
@keyframes loading {
  0% { opacity: 0.7 }
  50% { opacity: 1 }
  100% { opacity: 0.7 }
}